n8n/workflows/case-05-laravel-to-react.json
{
  "name": "CASE 05 LARAVEL TO REACT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-bot-scheduler-react",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "channel",
              "value": "={{$json.body.channels ? $json.body.channels[0] : ($json.body.channel || 'default')}}"
            },
            {
              "name": "id",
              "value": "={{$json.body.id}}"
            },
            {
              "name": "text",
              "value": "={{$json.body.text}}"
            },
            {
              "name": "case_id",
              "value": "05"
            }
          ]
        }
      },
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://social-bot-dest-react:4000/webhook",
        "jsonParameters": true,
        "bodyParametersJson": "={{JSON.stringify($node['Prepare Payload'].json)}}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "staticData": null,
  "pinData": {},
  "versionId": null
}